/* CSS for Main Select interface */
@media screen and (max-width: 360px) {
button, input{
  font-size: 10px;
}
.select-container{
  font-size: 20px; 
  height: 500px;
}
.table{
  max-width: 360px;
  font-size: 10px;
  max-height: calc(100vh - 400px);
}
.dropdown {
  width: 40vw;
  margin: 10px;
  cursor: pointer;
}
.dropdownVisOption {
  width: 40vw;
  margin: 10px;
  cursor: pointer;
}
}
@media screen and (min-width: 1000px) {
  .select-container{
    font-size: 20px; 
  }
  .table{
    font-size: 25px; 
    max-height: calc(100vh - 400px);
  }
  .dropdown {
    font-size: 18px;
    width: 20vw;
    margin: 10px;
    cursor: pointer;
  }
  .dropdownVisOption {
    font-size: 18px;
    width: 20vw;
    margin: 10px;
    cursor: pointer;
  }
}

.select {
  position: relative;
  min-height: 95vh;
}

.select-history {
  height: 55vh;
  margin: auto;
  display: block;
  overflow: scroll;
}

.dropdown > option {
  text-align: center;
}

.dropdownVisOption > option {
  text-align: center;
}

  .dropdown-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:end;
    margin: 10px;
  }
  